<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
           <table align="center">
               <tr>
                   <th>Employee ID's</th>
               </tr>

                   {% for x in sathya %}
                       <tr>
                       <td align="center">
                           <a href="/emp{{ x.id }}/">
                        {{ x.id }}
                           </a>
                       </td>
                       </tr>
                   {% endfor %}
                <tr>
                    <th> Click on Id to View Complete Details</th>
                </tr>
           </table>

</body>
</html>