<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
</head>
<body>
<center><font color="{{ color }}">{{ msg }}</font></center>
    <form action="/send/" method="post">
        {% csrf_token %}
        <table width="100%" border="0">
            <tr>
                <td><img src="{% static 'images/ajay.jpg' %}" alt="" align="left" width="300" height="200"></td>
                <td>
                    <input type="checkbox" name="hero" value="ajay">
                </td>
                <td><img src="{% static 'images/akshay.jpg' %}" alt="" align="center" width="300" height="200"></td>
                <td>
                    <input type="checkbox" name="hero" value="akshay">
                </td>
                <td><img src="{% static 'images/arjun.jpg' %}" alt="" align="right" width="300" height="200"></td>
                <td>
                    <input type="checkbox" name="hero" value="arjun">
                </td>
            </tr>

            <tr>
                <td>
                    <img src="{% static 'images/aamir.jpg' %}" align="left" width="300" height="200">
                </td>
                <td>
                    <input type="checkbox" name="hero" value="aamir">
                </td>
                <td>
                    <img src="{% static 'images/saif.jpg' %}" align="center" width="300" height="200">
                </td>
                <td>
                    <input type="checkbox" name="hero" value="saif">
                </td>

                <td>
                    <img src="{% static 'images/sharukh.jpg' %}" align="right" width="300" height="200">
                </td>
                <td>
                    <input type="checkbox" name="hero" value="sharukh">
                </td>
            </tr>

            <tr>
                <td>
                    <img src="{% static 'images/salman.jpg' %}" align="left" width="300" height="200">
                </td>
                <td>
                    <input type="checkbox" name="hero" value="salman">
                </td>
                <td>
                    <img src="{% static 'images/sharman.jpg' %}" align="center" width="300" height="200">
                </td>
                <td>
                    <input type="checkbox" name="hero" value="sharman">
                </td>

                <td>
                    <img src="{% static 'images/varun.jpg' %}" align="right" width="300" height="200">
                </td>
                <td>
                    <input type="checkbox" name="hero" value="varun">
                </td>
            </tr>
    </table>
            <br><br>
        <center>
            <input type="submit" value="Submit" style="height:30px; width:200px">
        </center>>

</form>
</body>
</html>