<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
</head>
<body><br><br><br><br><br><br>
<form action="/send/" method="post">
    {% csrf_token %}
<table align="center">
    <tr>
        <td>
            <img src="{% static 'images/login.jpg' %}">
        </td>
    </tr>
    <tr>
        <td align="center">
            <input type="text" name="t1" placeholder="Username" style="width: 200px;height: 20px">
        </td>
    </tr>

    <tr>
        <td align="center">
            <input type="passsword" name="t2" placeholder="Password" style="width: 200px;height: 20px">
        </td>
    </tr>

    <tr>
        <td align="center">
            <input type="radio" name="btn" value="Admin">Admin
             <input type="radio" name="btn" value="Client">Client
        </td>
    </tr>

    <tr>
        <td align="center">
            <input type="radio" name="btn" value="Emplyoee">Emplyoee
        </td>
    </tr>

    <tr>
        <td align="center">
            <input type="submit" value="Login" style="width: 100px;height: 25px">
        </td>
    </tr>
    <tr>
        <td>
            <font color="#dc143c" size="12">{{ msg }}</font>
        </td>
    </tr>
</table>
    </form>
</body>
</html>