<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="/saveDetails/" method="post">
            {% csrf_token %}
            <table align="center">
                <tr>
                    <td><input type="name" name="t1" placeholder="Name" required></td>
                </tr>
                                <tr>
                    <td><input type="number" name="t2" placeholder="Price" required></td>
                </tr>
                            <tr>
                    <td><input type="number" name="t3" placeholder="quantity" required></td>
                </tr>
                            <tr>
                    <td><input type="image" name="t4" placeholder="image" required></td>
                </tr>
                                                            <tr>
                    <td><input type="submit" value="Register"></td>
                </tr>

                <tr>
                    <th bgcolor="yellow"><font color="#a52a2a">{{ message }}</font> </th>
                </tr>
            </table>
        </form>

        <a href="/viewall/">
            <h3>
                View All Product's
            </h3>
        </a>
</body>
</html>