
<html>
<body>
<form action="/save/" method="post">
    {% csrf_token %}
<table align="center" border="2">
   <tr><th colspan="2"><h3>Registration Page</h3></th></tr>
   <tr><td colspan="2"><input type="number" placeholder="IDNO" required name="idno"></td></tr>
   <tr><td colspan="2"><input type="text" placeholder="NAME" required name="name"></td></tr>
   <tr><td colspan="2"><input type="tel" placeholder="CONTACT NO" required name="contact"></td></tr>
   <tr><td colspan="2"><input type="email" placeholder="EMAIL-ID" required name="email"></td></tr>
   <tr>
       <td rowspan="3">
        Gender
       </td>
       <td>
       <input type="radio" name="gender" value="male" checked> Male
   </td></tr>
    <tr>
        <td>
            <input type="radio" name="gender" value="female"> Female
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio" name="gender" value="other"> Other
        </td>
    </tr>
    <tr>
        <td rowspan="5">TS</td>
        <td>
            <input type="checkbox" name="c" value="c"> C Language
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="c++" value="c++"> C++ Language
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="python" checked value="python"> Python
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="django" value="django"> Django
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="project" value="project"> Project
        </td>
    </tr>
    <tr>
        <td>Faculty</td>
        <td>
            <select name="faculty" required>
                <option>Naveen</option>
                <option>Naveen Kumar</option>
                <option>Naveen Kumar N</option>
                <option>NNK</option>
            </select>
        </td>
    </tr>
    <tr>
        <th colspan="2">
            <button type="submit">Submit</button>
        </th>
    </tr>
</table>
</form>
</body>
</html>