
{% load staticfiles %}
<html>
<head>
   <link rel="stylesheet" href="{% static 'css/sample.css' %}">
</head>
    <body>
        <h1>
            Python training by Sathya Technologies is designed to help you master this extremely popular programming language with ease. Python is a simple interpreter based, high level object- oriented generic programming language and can be used to design and build application and prototype with ease. Python is today used majorly for web development applications and has gained grounds as a replacement or JAVA. With a large and every growing library of re-usable components and nuggets, Python is constantly gaining grounds as a simple and easy to work with Web programming language.
        </h1>
    </body>
</html>