
{% load staticfiles %}

<html>
    <body>
        <table align="center" border="2">
            <tr>
                <td><img src="{% static 'images/GUEST.jpg' %}" width="150" height="150"></td>
                <td>Image Inform</td>
            </tr>
            <tr>
                <td><img src="{% static 'images/pink.jpg' %}" width="150" height="150"></td>
                <td>Image Inform</td>
            </tr>
            <tr>
                <td><img src="{% static 'images/Red.jpg' %}" width="150" height="150"></td>
                <td>Image Inform</td>
            </tr>
            <tr>
                <td><img src="{% static 'images/purpule.jpg' %}" width="150" height="150"></td>
                <td>Image Inform</td>
            </tr>
        </table>
    </body>
</html>