<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number to text converter</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% load humanize %}
    <div class="container jumbotron text-center">
        <form>
            {% csrf_token %}
            <h1>Convert Number into Word</h1><hr>
            <label for="number">Please Enter Number</label>
            <input type="number" name="number" id="number" placeholder="Enter number here" value="{{number}}">
            <br/>
            <small>Please  enter any number between 0 to 1000000</small>
            <br><small class='error' style="color: red">{{error}}</small>
            <br><br>
            <button type="submit" class="btn btn-success" id="submit">Submit</button>
            <br><br>
            <b class="success">{{textNumber}}</b>
        </form>
    </div>

<script>
        $('#submit').click(function(e) {
            e.preventDefault();
            var number = $('#number').val();
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();
            if (!number) {
                $('.success').html('');
                $('.error').html('Please enter number..!!')
                return;
            }
            if (number < 0) {
                $('.success').html('');
                $('.error').html('Please provide the number greater than 0')
                return;
            }

            $.post('', {'number': number, 'csrfmiddlewaretoken': csrfToken})
            .done(function (data) {
                $('.success').html('Number is: ' + data.textNumber);
                $('.error').html('');
            })
            .fail(function (error) {
                $('.success').html('');
                $('.error').html(error);
            })
        });
</script>
</body>
</html>