<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'PankajApp/css/login.css' %}">
    <style>
        .brand_logo_container {
			position: sticky;
			height: 120px;
			width: 300px;
			top: -55px;

			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 100px;
			width: 270px;

    </style>
</head>
<body>
            <div class="container jumbotron">
                <div class="user_card">
            <div class="brand_logo_container">

						<img src= '{% static "image/11.png" %}'  class="brand_logo" alt="Logo">
					</div>
           <form method="post" action="/loginbtn/">
               {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter UserName" name="uname" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
              </div>

               <button type="submit" class="btn btn-primary">Login</button>
               <span style="color: {{ color }}">{{ errorMessage }}</span>
            </form>
    </div>
</body>
</html>