<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/button/" method="post">
    {% csrf_token %}
<table><tr><td>
<input type="submit" value="aamir" name="b1">
    <input type="submit" value="akshay" name="b1">
    <input type="submit" value="salman" name="b1">
    <input type="submit" value="sharukh" name="b1">
    <input type="submit" value="saif" name="b1">
    </td></tr>
</table>
</form>
 <form action="/search/" method="post">
     {% csrf_token %}
     <table>
    <tr><td><input type="text" name="t1"  placeholder="name"></td></tr>
    <tr><td><input type="submit" value="save"></td></tr>
</table>
</form>
</body>
</html>
