
<html>
<body>
<table align="center" border="2">
    <tr>
        <th width="100">IDNO</th>
        <th width="100">NAME</th>
        <th width="100">SALARY</th>
    </tr>

    {% for x,y in data.items %}
        {% if y.salary <= 50000 %}
        <tr style="background-color: yellow;color: red;font-size: 12px">
            <td>{{ x }}</td>
            <td>{{ y.name }}</td>
            <td>{{ y.salary }}</td>
        </tr>
        {% else %}
        <tr style="background-color: greenyellow;color: blue;font-size: 12px">
            <td>{{ x }}</td>
            <td>{{ y.name }}</td>
            <td>{{ y.salary }}</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
</body>
</html>