{% extends 'empMast/base.html' %}

{% block content %}

{% if form.errors %}
  <p>Your username didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your username doesn't have access to this page.</p>
  {% else %}
    <p>Please user to see this page.</p>
  {% endif %}
{% endif %}


<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 50%;
  margin-bottom: 05px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 40px;
  text-align: center;
}

.input-field {
  width: 70%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
</style>

<form method="post" action="{% url 'user' %}" action="/loginbtn/" style="max-width:150px;margin:auto">
{% csrf_token %}
    <div class="container jumbotron">
        <div class="container-fluid">
            <div class="container text-left">
                <div class="row">


                    <h2>Register Form</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="name" name="name">
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="email_id" name="email_id">
  </div>

  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="pwd">
  </div>
                    <div class="input-container">
    <i class="fa fa-home icon"></i>
    <input class="input-field" type=" address" placeholder="Address" name="address">
  </div>
                    <div class="input-container">
    <i class="fa fa-phone icon"></i>
    <input class="input-field" type="phone" placeholder="Phone no" name="phone">
  </div>
                    <div class="input-container">
    <i class="fa fa-image icon"></i>
    <input class="input-field" type="file" placeholder="Image" name="pic">
  </div>

                    <button type="submit" class="btn">Register</button>
                    <span style="color: {{ color }}">{{ errorMessage }}</span>
</form>


                    <!--
                     <div class="col-sm-2"><label><b> User Name:</b></label></div>
                    <div class="col-sm-2"><input type="text" name='username'  placeholder='username' class="form-control"/></div>
                    <div class="col-sm-2"><b>Start Date:[DD-MM-YY]:</b></div>
                    <div class="col-sm-2"><input type="date" name='name0'  placeholder=' date' class="form-control"/></div>
                </div>
                <div class="row"></div> <span> <style= 'padding:35px;'> </span>
                    <div class="col-sm-2"> <b>End Date:[DD-MM-YY]:</b></div>
                        <div class="col-sm-2"><input type="date" name='name0' placeholder=' date' class="form-control"/></div>
                    <div class="col-sm-2"> Is Active: <input type="checkbox"></div>
                    <button type="search" value="search" class="btn btn-primary"> Search </button>
                    <button type=" " value="clear" onclick="myFunction()" class="btn btn-primary">clear</button>
                </div>
            </div>
        </div>
    </div>
    <button  type="add " value="add" onclick="myFunction()" class="btn btn-primary">Add</button>
        <div  id="myModal" class="modal">
            <div class ="modal-content">
                <span class="close">&times;</span>

                <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

            </div>
        </div>
    <input type="hidden" name="next" value="{{ next }}" />-->

</form>
{% endblock %}


